<%= content_for(:title){t :title_welcome} %>

<font size="6">Праздничное агентство "Каравелла"</font>
<br>
<br>
<div class="row">
  <div class="span">
    
    <p>Праздник… Одно это слово уже создает хорошее настроение и навевает приятные воспоминания. Но как же устроить такой праздник, чтобы он навсегда запомнился, и именно Ваше торжество ассоциировалось с этим словом? Задача непростая, но выполнимая. Мы с удовольствием поможем Вам, если Вы обратитесь в наше праздничное агентство «Каравелла». </p>
  
    <h2>Проведение свадеб.</h2>
    <%= image_tag 'foto.jpg', :width => 400, :style => "float:right" %>
    <p>Сколько вопросов и проблем появляется у пары, как только они решили пожениться. Где купить платье? Как найти ведущего? Где провести свадьбу? Как сделать её красивой? А главное, кто нам поможет? Все эти вопросы возникают разом и найти ответы на них не так легко. Наше агентство готово стать вашим помощником и решить все организационные проблемы от начала и до конца. Мы предоставляем как комплексную услугу – свадьба «под ключ», так и отдельные услуги.</p>
    <p>Наша молодая творческая команда поможет сделать свадебное торжество, о котором Вы всегда мечтали! С нашей помощью оно будет ярким и незабываемым, как для Вас, так и для всех Ваших гостей!</p>
  
    <h2>Проведение корпоративных праздников и юбилеев. </h2>
    <%= image_tag 'foto3.jpg', :width => 350, :style => "float:left; padding-right: 10px" %>
    <p>Как приятно провести праздник в кругу своих коллег, друзей или родственников. Это событие должно быть не просто застольем, а настоящим торжеством. И его хочется отметить по-особому!</p>
    
    <p>Мы знаем, как сделать это весело и со вкусом. Наше агентство готово помочь и провести ваше торжество от начала и до конца. Особый сценарий, необычные поздравления, праздничное шоу и отличный банкет – это конек нашей фирмы. Мы уверены, что такой праздник вместе с нашей креативной командой надолго останется у всех в сердцах! </p>
    <br>
    <p>С Каравеллой на волнах празднику дадим размах!</p>
  </div>
</div>