/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body{
  font-family: 'EB Garamond', Arial, sans-serif;
  font-size: 20px; 
  line-height: 30px;
}
p{
  font-size: 20px;
  line-height: 20px;
}

.oval{
  border: 1px solid black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-top: 10px;
}
a:hover{
  color: #ccc !important;
/*  color: #117f77 !important;*/
  text-decoration: none !important; 
}
div.oval:hover{
  color: #ccc !important;
  background: #555;
}

body{
/*  background: #888888 url('/assets/bg.gif') repeat;*/
}
.stripe{
  z-index: -10;
  position: absolute;
  top: 100px;
  left:0px;
  width: 100%;
  height: 199px;
/*  background: #fff url('/assets/stripe.jpg') repeat-x;*/
}/*
.main_menu{
  padding-top: 10px;
  padding-left: 50px;
}  
*/
.main_menu p{
  font-size: 30px;
  padding-top: 7px;
}
.main_menu a{
  color: #000;
}
.content{
  background: #fff;
  padding: 10px;
}
.frame{
  border: 1px solid black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.thumbnails{
  padding-left: 20px;
}

h1 {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-size: 34px;
  line-height: 50px;
  text-align: center;
}
h3 {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
h4,
h5,
h6 {
  line-height: 24px;
}
